
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #14487c;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #343a40;
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
nav a:hover {
    background-color: #495057;
}
section {
    padding: 20px;
    text-align: center;
}
section img {
    max-width: 500px;
    height: auto;
}
footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
}
